.navbar {  
  .nav_item {    
    a {
      position: relative;
      
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        right: 50%;
        height: 100%;
        // background-color: red;
        border-bottom: 2px solid rgba(0, 0, 0, 1.0);
        
        transition: 0.7s;
      }
      
      &:hover::after {
        left: 0;
        right: 0;      
      }
    }
  }
}

.showcase_section {
  margin-top: 56px;
  height: 50vh;
  font-size: 1rem;
  
  @media(min-width: 768px) {
    height: calc(100vh - 56px);
    font-size: 3rem;    
  }
  
  .background {
    filter: brightness(50%);
    position: absolute;    
    z-index: 0;
  }
  
  .details {
    // font-size: 5.0rem;
  }
}

.features_card {
  transition: 1s;

  &:hover {
    transform: translateY(-8px);
  }
}

.instructor_card {
  transition: 0.3s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 20px;
  }
}

.section {
  margin-top: 10rem;
}

.advertisement {
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  overflow: hidden;

  .panel {
    box-shadow: -3px 0px 16px rgba(0, 0, 0, 1.0);    
    z-index: 1;
  }

  .icon_container {
    background-color: rgb(231, 235, 244);
    width: 80px;
    height: 80px;
  }
  
  .icon {
    color: green;
    font-size: 2rem;
  }
}